.LogInPage-container {
  @extend %ui-content-container;
  .LogInPage-content {
    @extend %ui-content-inner;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }
}
