.container {
  width: 2.5rem;

  input[type="range"] {
    -webkit-appearance: none;
    height: 1rem;
    width: 100%;
    cursor: pointer;
    background: #c6cbf1;
    border: 1px solid #22295e;
    border-radius: 0.2rem;

    &:focus,
    &:hover {
      outline: none;
      background: #c6cbf1;
    }
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.5rem;
    width: 1rem;
    border-radius: 0.2rem;
    background: #303a84;
    cursor: pointer;
    margin-top: 0px;
  }
}
