.UserProfile-bio-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;

  .UserProfile-bio {
    @extend %ui-content-inner;
    min-height: 5rem;
    padding: 0.3rem;
    margin: 0;
  }
}
