.UserProfile-bio-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;

  button {
    margin-top: 0.7rem;
    margin-right: 0.5rem;
  }

  .UserProfile-bio {
    min-height: 5rem;
    padding: 0.3rem;
    margin: 0;
  }
}
