.GroupInfo-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;

  h3 {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
  }

  img {
    margin: auto;
    height: 15rem;
    width: 15rem;
  }
}

@media only screen and (min-width: 0) and (max-width: 768px),
  only screen and (min-device-width: 0) and (max-width: 768px) {
  .GroupInfo-container {
    img {
      height: 10rem;
      width: 10rem;
    }
  }
}
