.GroupInfo-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  @extend %ui-content-container;

  img {
    height: 15rem;
    width: 15rem;
  }
}

@media only screen and (min-width: 0) and (max-width: 768px),
  only screen and (min-device-width: 0) and (max-width: 768px) {
  .GroupInfo-container {
    img {
      height: 10rem;
      width: 10rem;
    }
  }
}
