.UI-GeneralButton {
  text-transform: uppercase;
}

.UI-ButtonLink {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

.header-buttonlink {
  border-radius: 0.25rem;
  padding: 0.2rem;
  font-size: 0.9rem;
  background-color: rgb(148, 204, 207);
  font-weight: bold;
  color: white;
}

%button-style {
  border: none;
  border-radius: 0.25rem;
  padding: 0.2rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
  cursor: pointer;
}

.general-theme-button {
  @extend %button-style;
  background-color: $lfg-l-blue;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.close-delete-button {
  @extend %button-style;
  background-color: $lfg-l-red;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.ok-confirm-button {
  @extend %button-style;
  background-color: $ui-green;
  margin: 0.5rem 0.5rem 0.5rem 0;
}
