.UI-GeneralButton {
  text-transform: uppercase;
}

%general-theme-button {
  border: none;
  border-radius: 0.2rem;
  padding: 0.2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.ui-button-dark {
  @extend %general-theme-button;
  background-color: $lfg-l-blue;
  color: $text-white;
}

.ui-button-light {
  @extend %general-theme-button;
  background-color: $lfg-l-blue;
  color: $text-white;
}

.close-delete-button {
  @extend %general-theme-button;
  background-color: $lfg-l-red;
  color: $text-white;
}
