.GeneralLink {
  text-decoration: none;
}

.large-link {
  font-size: 1.2rem;
  font-weight: bold;
  color: $link-text;
}

.general-theme-link {
  border: none;
  border-radius: 0.25rem;
  padding: 0.2rem;
  background-color: $lfg-l-blue;
  font-weight: bold;
  color: $text-white;
  margin: 0.5rem 0.5rem 0.5rem 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  cursor: pointer;
}

%general-theme-link {
  border: none;
  border-radius: 0.2rem;
  padding: 0.2rem;
  font-weight: bold;
  margin: 0.5rem 0.5rem 0.5rem 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  cursor: pointer;
}

.ui-link-dark {
  @extend %general-theme-link;
  background-color: $lfg-l-blue;
  color: $text-white;
}

.ui-link-light {
  @extend %general-theme-link;
  background-color: $lfg-l-blue;
  color: $text-white;
}

%text-link-s {
  font-size: 0.9rem;
  margin-right: 0.2rem;
  font-weight: 500;
}

.text-link-s-light {
  @extend %text-link-s;
  color: $text-black;
}

.text-link-s-dark {
  @extend %text-link-s;
  color: $text-white;
}

.in-text-link {
  font-weight: bold;
  margin-right: 0.2rem;
  color: $link-text;
}

%comments-tags {
  font-size: 0.9rem;
  font-weight: 500;
}

.comments-tags-light {
  @extend %comments-tags;
  color: $lfg-d-gray;
}

.comments-tags-dark {
  @extend %comments-tags;
  color: $lfg-l-gray;
}

.widget-header {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: $link-text;
  margin: 0.5rem auto;
}

// header and mobile nav
.nav-link {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0.5rem;
  color: $text-white;
  border-radius: 0.2rem;
  padding: 0.4rem 0.6rem;
}

@media (hover: hover) {
  .nav-link:hover {
    background-color: $lfg-l-gray;
  }
}

%nav-link {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0.5rem;
  border-radius: 0.2rem;
  padding: 0.4rem 0.6rem;
}

.nav-link-dark {
  @extend %nav-link;
  color: $text-white;
}

.nav-link-light {
  @extend %nav-link;
  color: $text-black;
}

@media (hover: hover) {
  .nav-link-dark:hover {
    background-color: $lfg-l-gray;
  }
  .nav-link-light:hover {
    background-color: $bg-content-light;
  }
}

@media only screen and (min-width: 0) and (max-width: 768px),
  only screen and (min-device-width: 0) and (max-width: 768px) {
  .large-link {
    font-size: 1rem;
  }
}
