.UserProfilePage-container {
  @extend %page-container;
  display: flex;
  flex-direction: column;
  .UserProfilePage-content {
    display: flex;
    flex-direction: row;

    .UserProfilePage-content-col1 {
      width: 60%;
    }
    .UserProfilePage-content-col2 {
      width: 40%;
    }
  }
}

@media only screen and (max-width: 1100px),
  only screen and (max-width: 1100px) {
  .UserProfilePage-container {
    .UserProfilePage-content {
      display: flex;
      flex-direction: column;
      .UserProfilePage-content-col1 {
        width: 70%;
        margin: auto;
      }

      .UserProfilePage-content-col2 {
        width: 70%;
        margin: auto;
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: 768px),
  only screen and (min-device-width: 0) and (max-width: 768px) {
  .UserProfilePage-container {
    .UserProfilePage-content {
      display: flex;
      flex-direction: column;
      .UserProfilePage-content-col1 {
        width: 100%;
        margin: auto;
      }

      .UserProfilePage-content-col2 {
        width: 100%;
        margin: auto;
      }
    }
  }
}
