.SendMessageForm-container {
  width: 20rem;
  margin: auto;
  .SendMessageForm-user-container {
    span {
      font-size: 1.2rem;
    }
  }

  .SendMessageForm-content {
    display: flex;
    flex-direction: column;
  }
}
