.CurrentUser-container {
  display: flex;
  flex-direction: column;
  @extend %ui-content-container;
  padding-bottom: 0.5rem;
  h3 {
    text-align: center;
  }
  img {
    height: 6rem;
    width: 6rem;
    margin: auto;
  }

  .not-logged-in {
    text-align: center;
  }
}
