.CurrentUser-container {
  display: flex;
  flex-direction: column;
  min-height: 12rem;

  .CurrentUser-content {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;

    img {
      height: 6rem;
      width: 6rem;
      margin: 0.2rem auto;
      border-radius: 50%;
    }
  }
}
