.HeaderActions-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .header-link {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 1rem;
    width: 2rem;
    .header-icon {
      height: 2rem;
      width: 2rem;
    }

    .header-count {
      position: absolute;
      font-weight: bold;
      font-size: 1.2rem;
      color: $lfg-d-purple;
    }
  }

  %current-user-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 1rem;
    border-radius: 0.2rem;
    .current-user-pic {
      height: 2rem;
      width: 2rem;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 0.2rem;
    }
    span {
      font-weight: bold;
    }
  }

  .current-user-dark {
    @extend %current-user-link;
    span {
      color: $text-white;
    }
  }
  .current-user-light {
    @extend %current-user-link;
    span {
      color: $text-black;
    }
  }
  @media (hover: hover) {
    .current-user-dark:hover {
      background-color: $lfg-l-gray;
    }
    .current-user-light:hover {
      background-color: $bg-hover-light;
    }
  }

  .MobileMenu-button-container {
    display: none;
  }
}

@media only screen and (min-width: 0) and (max-width: 768px),
  only screen and (min-device-width: 0) and (max-width: 768px) {
  .HeaderActions-container {
    .current-user-link {
      #usename-header-text {
        display: none;
      }
    }
    .MobileMenu-button-container {
      display: block;
      .Mobile-Menu-Button {
        border: 1px solid $lfg-d-gray;
        background-color: $lfg-l-gray;
        height: 2rem;
        width: 2rem;
        border-radius: 0.3rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
