.UserPreview-container {
  @extend %ui-content-inner;
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    height: 6rem;
    width: 6rem;
    margin-right: 1rem;
  }

  .UserPreview-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    .UserPreview-user-info {
      display: flex;
      flex-direction: column;
    }
  }
}
