.MobilePageNav-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 2rem;
  width: 100%;
  padding: 0.5rem 0;
  align-items: center;
  margin: auto;
  background-color: $lfg-l-blue;
  right: calc(0% - (92% + 92% / 70));
  border-radius: 0.3rem;

  .mobile-arrow-button {
    border: 2px solid white;
    background-color: $lfg-d-blue;
    border-radius: 0.25rem;
    padding: 0.4rem 0.4rem;
    margin-left: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: "PS2P";
    color: white;
  }

  span {
    margin: auto;

    a {
      font-size: 0.8rem;
    }
  }
}

.open-nav {
  right: 0;
  border-radius: 0;
}

@media only screen and (min-width: 768.1px),
  only screen and (min-device-width: 768.1px) {
  .MobilePageNav-container {
    display: none;
  }
}
