.MobilePageNav-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 2rem;
  width: 100%;
  padding: 0.5rem 0;
  align-items: center;
  margin: auto;
  background-color: $lfg-l-blue;
  left: 100%;
  border-radius: 0.3rem;
  z-index: 8;

  span {
    margin: auto;

    a {
      font-size: 0.8rem;
    }
  }
}

.open-nav {
  left: 0;
  border-radius: 0;
}

@media only screen and (min-width: 768.1px),
  only screen and (min-device-width: 768.1px) {
  .MobilePageNav-container {
    display: none;
  }
}

@media only screen and (max-width: 480px),
  only screen and (max-device-width: 480px) {
  .MobilePageNav-container {
    span {
      margin-left: 0.5rem;

      a {
        font-size: 0.8rem;
      }
    }
  }
}
