.LfgHeaderLink-container {
  height: 2.6rem;
  width: 2.77rem;
  margin-left: 1rem;
  .LfgHeaderLink-img {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 0) and (max-width: 768px),
  only screen and (min-device-width: 0) and (max-width: 768px) {
  .LfgHeaderLink-container {
    height: 2.08rem;
    width: 2.215rem;
  }
}

@media only screen and (min-width: 0) and (max-width: 768px) and (orientation: landscape),
  only screen and (min-device-width: 0) and (max-width: 768px) and (orientation: landscape) {
  .LfgHeaderLink-container {
    height: 2.08rem;
    width: 2.215rem;
    margin: auto auto 0.3rem auto;
    order: 2;
  }
}
