.PageNav-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 2rem;
  width: calc(54% + (54% / 6));
  padding: 0.5rem 0;
  align-items: center;
  margin: auto;
  background-color: $lfg-l-blue;

  span {
    margin: auto;
  }
}

@media only screen and (min-width: 0px) and (max-width: 1200px),
  only screen and (min-device-width: 0px) and (max-width: 1200px) {
  .PageNav-container {
    width: 100%;
    min-width: 100%;
  }
}

@media only screen and (max-width: 768px),
  only screen and (max-device-width: 768px) {
  .PageNav-container {
    display: none;
  }
}
