.PageNav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
  span {
    margin: auto;
  }
}

@media only screen and (max-width: 768px),
  only screen and (max-device-width: 768px) {
  .PageNav-container {
    display: none;
  }
}
