.LogInForm-container {
  margin-top: 1rem;
  min-width: 13.5rem;
  .LogInForm-content {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    .textinput-dark {
      background-color: $bg-content-light;
      color: $text-black;
    }

    .textinput-light {
      background-color: white;
      color: $text-black;
    }
  }
}
