.PostPreview-container {
  border-bottom: 1px solid black;
  .PostPreview-head {
    display: flex;
    flex-direction: row;
  }

  .PostPreview-content {
    display: flex;
    flex-direction: column;
  }
}

.PostPreview-container:nth-of-type(1) {
  border-top: 1px solid black;
}
