.PostPreview-container {
  @extend %ui-content-container;
  .PostPreview-head {
    display: flex;
    flex-direction: row;

    a {
      color: $text-d-gray;
    }
  }

  .PostPreview-content {
    display: flex;
    flex-direction: column;
    .PostPreview-tags {
      a {
        color: $text-l-gray;
        font-weight: 500;
      }
    }
    a {
      color: $text-d-gray;
    }
  }

  .PostPreview-comments {
    a {
      color: $text-l-gray;
      font-size: 0.9rem;
      font-weight: 500;
    }
  }
}

.PostPreview-container:nth-of-type(1) {
  border-top: 1px solid black;
}
