.MobileMenu-container {
  position: absolute;
  width: 100%;
  bottom: -20.25rem;
  background-color: $bg-l-gray;
  height: 20rem;
  max-height: 20rem;
  border-bottom: 2px solid $lfg-d-gray;
  z-index: 10;

  .MobileMenu-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    a {
      margin: auto;
    }

    span {
      margin: auto;

      button {
        margin: auto;
      }
    }
  }
}

@media only screen and (min-width: 768.1px),
  only screen and (min-device-width: 768.1px) {
  .MobileMenu-container {
    display: none;
  }
}
