.GroupPreview-container {
  @extend %ui-content-inner;
  display: flex;
  flex-direction: row;
  align-items: center;

  .GroupPreview-img {
    height: 6rem;
    width: 6rem;
    margin-right: 1rem;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .GroupPreview-content {
    display: flex;
    flex-direction: column;
  }
}
