.YourPostsMobile-container {
  position: fixed;
  width: 100%;
  background-color: $lfg-l-red;
  .YourPostsMobile-content {
    @extend %ui-content-inner;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    max-height: 321px;
    overflow-y: scroll;
    .YourPosts-item {
      display: flex;
      flex-direction: column;
    }
  }
}
