.WidgetLoader-container {
  margin: auto;

  %WidgetLoader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 8rem;

    border-radius: 50%;
    animation: loading 3s infinite;

    img {
      height: 80%;
      width: 80%;
    }
  }

  .WidgetLoader-dark {
    @extend %WidgetLoader;
    background-color: $bg-content-inner-dark;
    border: 3px solid $lfg-l-gray;
  }

  .WidgetLoader-light {
    @extend %WidgetLoader;
    background-color: $bg-content-inner-light;
    border: 3px solid rgb(215, 215, 215);
  }
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
