.GeneralLink {
  text-decoration: none;
}

.GroupsLink {
  font-size: 1.2rem;
  font-weight: bold;
}

// .PostLink {
//   font-size: 1.2rem;
//  font-weight: bold;
// }

// .MessageUserLink {
//   display: inline-block;
//   text-transform: uppercase;
//   font-weight: bold;
// }

// .page-buttonlink {
//   border-radius: 0.25rem;
//   padding: 0.4rem;
//   background-color: rgb(162, 207, 148);
//   font-weight: bold;
//   color: white;
//   margin: 0.5rem;
// }

// .PostTag-link {
//   text-decoration: none;
//   font-size: 0.9rem;
//   font-weight: bold;
//   margin-right: 0.2rem;
// }

.UserLink {
  text-decoration: none;
  font-weight: bold;
  margin-right: 0.2rem;
}
