.GeneralLink {
  text-decoration: none;
}

.GroupsLink {
  font-size: 1.2rem;
  font-weight: bold;
}

.MessageUserLink {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
}

.page-buttonlink {
  border-radius: 0.25rem;
  padding: 0.2rem;
  background-color: rgb(162, 207, 148);
  font-weight: bold;
  color: white;
  margin: 0.5rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.PostLink {
  font-size: 1.2rem;
  font-weight: bold;
}

.PostPreviewText {
  font-size: 0.9rem;
}

.PostHeadLink {
  font-weight: bold;
  margin-right: 0.2rem;
}

.PostTag-link {
  font-size: 0.9rem;
  font-weight: bold;
  margin-right: 0.2rem;
}

.UserLink {
  font-weight: bold;
  margin-right: 0.2rem;
}

.PageNavLink {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 2rem;
}

@media only screen and (min-width: 0) and (max-width: 768px),
  only screen and (min-device-width: 0) and (max-width: 768px) {
  .GroupsLink {
    font-size: 1rem;
  }

  .PostLink {
    font-size: 1rem;
  }

  .PostHeadLink {
    font-size: 0.9rem;
  }
}
