.UI-GeneralButton {
  text-transform: uppercase;
}

%button-style {
  border: none;
  border-radius: 0.25rem;
  padding: 0.2rem;
  font-weight: bold;
  color: white;
  margin: 0.5rem 0.5rem 0.5rem 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  cursor: pointer;
}

.general-theme-button {
  @extend %button-style;
  background-color: $lfg-l-blue;
}

.close-delete-button {
  @extend %button-style;
  background-color: $lfg-l-red;
}

.ok-confirm-button {
  @extend %button-style;
  background-color: $ui-green;
}
