.GroupMembers-container {
  padding: 0.5rem;
  .GroupMembers-list {
    padding: 0.5rem;
    margin: 0;
    list-style: none;

    .GroupMember-item {
      display: flex;
      flex-direction: row;
      width: 10rem;
      span {
        margin-left: auto;
      }
    }
  }
}
