.GroupMembers-container {
  padding: 0.5rem;
  .GroupMembers-list {
    margin: 0;
    list-style: none;
    padding-inline-start: 0;

    li {
      margin: 0.5rem 0;
      .GroupMember-item {
        display: flex;
        flex-direction: row;
        padding: 0 0.3rem;
        span {
          margin-left: auto;
        }
      }
    }
  }

  .noContent-container {
    .noContent-content {
      margin: 0.5rem 0;
    }
  }
}
