@import "./AcceptedFriendPreview/AcceptedFriendPreview";
@import "./AcceptedFriends/AcceptedFriends";
@import "./PendingFriendPreview/PendingFriendPreview";
@import "./PendingFriends/PendingFriends";

.FriendPreview-container {
  img {
    height: 6rem;
    width: 6rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
    border-radius: 50%;
  }
}
