.Friends-Pending-Mutual {
  display: flex;
  flex-direction: column;
  width: 50%;

  h2 {
    margin-left: 0.3rem;
  }
}

.FriendPreview-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5rem;
  img {
    height: 4rem;
    width: 4rem;
    margin-left: 0.5rem;
    border-radius: 50%;
  }

  .FriendPreview-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 1.5rem;
    .FriendPreview-actions {
      margin-top: auto;
      margin-bottom: 0.3rem;

      button {
        margin-right: 0.5rem;
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 1200px),
  only screen and (min-device-width: 0px) and (max-width: 1200px) {
  .Friends-Pending-Mutual {
    width: 100%;
    box-sizing: border-box;
  }
}
