.Page-wrapper {
  position: relative;
  min-height: 100vh;
  padding-top: 50px;
  .Page-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: auto;

    .PageLoader-container {
      margin: auto;
    }

    .Page-content-col1 {
      position: fixed;
      left: 0;
      width: 20%;
      max-width: 250px;
      padding-top: 0.5rem;
    }
    .Page-content-col2 {
      position: relative;
      display: flex;
      width: 60%;
      margin: 0 auto;
      padding-top: 0.5rem;
    }
    .Page-content-col3 {
      position: fixed;
      right: 0;
      width: 20%;
      max-width: 250px;
      padding-top: 0.5rem;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 1200px),
  only screen and (min-device-width: 0px) and (max-width: 1200px) {
  .Page-wrapper {
    .Page-container {
      .Page-content-col1 {
        display: none;
      }
      .Page-content-col2 {
        width: 70%;
        margin: 0 auto auto 0;
      }
      .Page-content-col3 {
        width: 30%;
        flex-basis: 250px;
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 768px),
  only screen and (min-device-width: 0px) and (max-width: 768px) {
  .Page-wrapper {
    padding-top: 36px;
    padding-bottom: 2.5rem;
    .Page-container {
      padding: 0;

      .Page-content-col1,
      .Page-content-col3 {
        display: none;
      }
      .Page-content-col2 {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: 768px) and (orientation: landscape),
  only screen and (min-device-width: 0) and (max-width: 768px) and (orientation: landscape) {
  .Page-wrapper {
    padding-top: 0;
    padding-bottom: 2.5rem;
    .Page-container {
      padding: 0;

      .Page-content-col1,
      .Page-content-col3 {
        display: none;
      }
      .Page-content-col2 {
        width: calc(100% - 5.5rem);
        margin: auto;
      }
    }
  }
}
