.Page-container {
  width: calc(54% + (54% / 6));
  height: 100%;
  margin: auto;
  padding-top: 3rem;
  overflow-y: hidden;

  .Page-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: auto;
    background: $bg-off-white;

    .Page-content-col1 {
      padding-top: 3rem;
      width: 22.5%;
    }
    .Page-content-col2 {
      width: calc(65% - (65% / 6));
      overflow-y: scroll;
    }
    .Page-content-col3 {
      padding-top: 3rem;
      width: 22.5%;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 1200px),
  only screen and (min-device-width: 0px) and (max-width: 1200px) {
  .Page-container {
    width: 100%;
    min-width: 100%;
    .Page-content {
      .Page-content-col1 {
        display: none;
      }
      .Page-content-col2 {
        width: 70%;
        overflow-y: scroll;
      }
      .Page-content-col3 {
        width: 30%;
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 768px),
  only screen and (min-device-width: 0px) and (max-width: 768px) {
  .Page-container {
    .Page-content {
      .Page-content-col1,
      .Page-content-col3 {
        display: none;
      }
      .Page-content-col2 {
        width: 100%;
      }
    }
  }
}
