.YourPosts-container {
  display: flex;
  flex-direction: column;
  @extend %ui-content-inner;
  padding: 0.5rem;
  min-height: 12rem;
  max-height: 20rem;
  overflow-y: scroll;

  .YourPosts-item {
    display: flex;
    flex-direction: column;
  }
}
