.YourPosts-container {
  display: flex;
  flex-direction: column;
  @extend %ui-content-inner;
  padding: 0.5rem;
  max-height: 321px;
  overflow-y: scroll;

  .YourPosts-item {
    display: flex;
    flex-direction: column;
  }
}
