.UserProfileInfo-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  h2 {
    text-align: center;
  }

  .UserProfile-user-actions {
    display: flex;
    flex-direction: row;
  }

  img {
    height: 10rem;
    width: 10rem;
  }
}
