.LogInOut-container {
  margin: auto 2rem;

  a {
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 0) and (max-width: 768px),
  only screen and (min-device-width: 0) and (max-width: 768px) {
  .LogInOut-container {
    margin: auto;
    margin-bottom: 1rem;
  }
}
