.PopUpConfirm-container {
  position: absolute;
  @extend %ui-content-inner;
  padding: 0.5rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 12rem;
  height: 8rem;

  .PopUpConfirm-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .PopUpConfirm-buttons {
      margin: auto auto 0;
      button {
        margin: 0.5rem;
      }
    }
  }
}
