.PopUpConfirm-container {
  position: absolute;
  padding: 0.5rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 12rem;
  height: 8rem;
  border: 1px solid $lfg-l-gray;

  .PopUpConfirm-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .PopUpConfirm-buttons {
      margin: auto auto 0;
      button {
        margin: 0.5rem;
      }
    }
  }
}
