.PostDeleted-content {
  @extend %ui-content-container;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
  }
}
