.PageLoader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  .PageLoader-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16rem;
    width: 16rem;
    background-color: $bg-off-white;
    border: 3px solid $lfg-d-purple;
    border-radius: 50%;

    animation: loading 3s infinite;

    img {
      height: 80%;
      width: 80%;
    }
  }
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
