.UserJoinedGroups-container {
  padding: 0.5rem;

  .UserJoinedGroups-list {
    padding: 0.5rem;
    margin: 0;
    list-style: none;
  }

  .noContent-container {
    .noContent-content {
      margin: 0.5rem 0;
    }
  }
}
