.UserJoinedGroups-container {
  padding: 0.5rem;

  .UserJoinedGroups-list {
    margin: 0;
    list-style: none;
    padding-inline-start: 0;

    li {
      margin: 0.5rem 0;
      padding: 0 0.3rem;
    }
  }

  .noContent-container {
    .noContent-content {
      margin: 0.5rem 0;
    }
  }
}
