.YourGroups-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  min-height: 12rem;

  h3 {
    text-align: center;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
  }

  .YourGroups-content {
    display: flex;
    flex-direction: column;
    min-height: 12rem;
    max-height: 15rem;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  .YourGroups-content::-webkit-scrollbar {
    width: 0px;
  }
}
