.YourGroups-container {
  display: flex;
  flex-direction: column;
  @extend %ui-content-inner;
  padding: 0.5rem;
  min-height: 12rem;
  .YourGroups-content {
    display: flex;
    flex-direction: column;
    min-height: 12rem;
    max-height: 15rem;
    overflow-y: scroll;
  }
}
