.HomePage-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  h1 {
    text-align: center;
  }

  .HomePage-welcome-content {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }

  .HomePage-getting-started-content {
    h2 {
      text-align: center;
    }
    padding: 0.5rem;
  }
}
