.HomePage-container {
  @extend %page-container;
  .HomePage-content {
    display: flex;
    flex-direction: row;
    .HomePage-content-col1 {
      width: 60%;
    }

    .HomePage-content-col2 {
      width: 40%;
    }
  }
}

@media only screen and (max-width: 1100px),
  only screen and (max-width: 1100px) {
  .HomePage-container {
    .HomePage-content {
      display: flex;
      flex-direction: column;
      .HomePage-content-col1 {
        width: 70%;
        margin: auto;
        order: 1;
      }

      .HomePage-content-col2 {
        width: 70%;
        margin: auto;
        order: 0;
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: 768px),
  only screen and (min-device-width: 0) and (max-width: 768px) {
  .HomePage-container {
    .HomePage-content {
      display: flex;
      flex-direction: column;
      .HomePage-content-col1 {
        width: 100%;
        margin: auto;
        order: 1;
      }

      .HomePage-content-col2 {
        width: 100%;
        margin: auto;
        order: 0;
      }
    }
  }
}

// .HomePage-container {
//   @extend %page-container;
//   display: grid;
//   grid-template-rows: [row1] 50% [row2] 50%;
//   grid-template-columns: [col1] 65% [col2] 35%;

//   .Home-row1-col1 {
//     grid-row: 1;
//     grid-column: 1;
//   }
//   .Home-row1-col2 {
//     grid-row: 1;
//     grid-column: 2;
//   }
//   .Home-row2-col1 {
//     grid-row: 2;
//     grid-column: 1;
//   }
//   .Home-row2-col2 {
//     grid-row: 2;
//     grid-column: 2;
//   }
// }

// @media only screen and (min-width: 0) and (max-width: 900px),
//   only screen and (min-device-width: 0) and (max-width: 900px) {
//   .HomePage-container {
//     display: flex;
//     flex-direction: column;
//   }
// }
