.GroupPosts-container {
  @extend %ui-content-container;
  padding-top: 0.5rem;

  max-height: 650px;
  overflow-y: scroll;

  .GroupPosts-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    a {
      margin-left: 0.5rem;
    }
  }
}
