// html, body, #root backgound colors
$bg-dark: rgb(30, 30, 30);
$bg-light: rgb(236, 240, 241);

// dark theme
$text-white: rgb(250, 250, 250);
$bg-content-dark: rgb(60, 60, 60);
$bg-content-inner-dark: rgb(90, 90, 90);
//used on dark theme loading widget boarder and hash tag and comment links
$ui-link-border: rgb(215, 215, 215);

// light theme
$text-black: rgb(30, 30, 30);
$bg-content-light: rgb(240, 240, 240);
$bg-content-inner-light: rgb(250, 250, 250);

// general ui
$link-text: rgb(49, 121, 255);

// brand colors
$lfg-l-blue: #71aada;
$lfg-d-blue: #6091ba;
$lfg-l-red: #d87870;
$lfg-d-red: #cb3131;
$lfg-l-purple: #963e93;
$lfg-d-purple: #542352;
$lfg-l-gray: #8c8686;
$lfg-d-gray: #645f5f;
$lfg-green: #64e770;
