.head-text-content {
  font-size: 0.9rem;
  margin-right: 0.2rem;
}

.hide {
  display: none;
}

%page-container {
  width: 90%;
  padding-top: 1rem;
  margin: auto;
}

%page-content-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

%ui-content-container {
  border-radius: 0.5rem;
  margin: 0.5rem;
  background-color: white;
  border: 1px solid black;
  overflow: hidden;
}
