.bg-dark-theme {
  background-color: $bg-dark;
}

.bg-light-theme {
  background-color: $bg-light;
}

%ui-content-container {
  border-radius: 0.3rem;
  margin: 0.5rem;
  overflow: hidden;
}

.ui-content-dark {
  @extend %ui-content-container;
  background-color: $bg-content-dark;
  color: $text-white;
  -webkit-box-shadow: 0px 0.5px 3px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 0.5px 3px 0px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0.5px 3px 0px rgba(255, 255, 255, 0.5);
}

.ui-content-light {
  @extend %ui-content-container;
  background-color: $bg-content-light;
  color: $text-black;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.ui-inner-dark {
  @extend %ui-content-container;
  background-color: $bg-content-inner-dark;
  color: $text-white;
  -webkit-box-shadow: 0px 0.5px 3px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 0.5px 3px 0px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0.5px 3px 0px rgba(255, 255, 255, 0.5);
}

.ui-inner-light {
  @extend %ui-content-container;
  background-color: $bg-content-inner-light;
  color: $text-black;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.head-text-content {
  font-size: 0.9rem;
  margin-right: 0.2rem;
}

.hide {
  display: none;
}

%page-heading {
  margin-left: 0.5rem;
  margin-block-start: 0.5rem;

  a {
    font-size: 1.5rem;
    font-weight: bold;
    color: $link-text;
  }
}

.page-heading-dark {
  @extend %page-heading;
  color: $text-white;
}

.page-heading-light {
  @extend %page-heading;
  color: $text-black;
}

.page-actions {
  width: 100%;
  margin-left: 0.5rem;
}

.search-placeholder {
  width: 10rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
}

%component-head {
  display: flex;
  flex-direction: row;

  h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    color: $text-white;
  }
  a {
    margin-left: auto;
    font-weight: bold;
    display: inline-block;
    padding: 0.2rem 0.2rem;
    border-radius: 0.2rem;
    color: $link-text;
  }
}

.component-head-light {
  @extend %component-head;
  h3 {
    color: $text-black;
  }
}

.component-head-dark {
  @extend %component-head;
  h3 {
    color: $text-white;
  }
}

// Only in AllMessages, UnreadMessages, SentMessages which will be reworked
.no-content-message {
  margin-left: 0.5rem;
  padding-bottom: 0.5rem;
}
