.YourGroupsMobile-container {
  position: fixed;
  width: 100%;
  background-color: $lfg-l-red;
  .YourGroupsMobile-content {
    @extend %ui-content-inner;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }
}
