.CurrentUserMobile-container {
  position: fixed;
  width: 100%;
  background-color: $lfg-l-red;
  .CurrentUserMobile-content {
    @extend %ui-content-inner;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    img {
      height: 6rem;
      width: 6rem;
      margin: auto;
    }
  }
}
