.GroupRecentPosts-container {
  @extend %ui-content-inner;
  padding: 0.5rem;
  max-height: 850px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  .PostPreview-container {
    margin: 0.5rem 0;
  }
}

.GroupRecentPosts-container::-webkit-scrollbar {
  width: 0px;
}
