.GroupRecentPosts-container {
  @extend %ui-content-inner;
  padding: 0.5rem;

  .PostPreview-container {
    margin: 0.5rem 0;
  }

  .noContent-container {
    .noContent-content {
      margin: 0.5rem 0;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 768px),
  only screen and (min-device-width: 0px) and (max-width: 768px) {
  .GroupRecentPosts-container {
    margin: 0;
  }
}
